<!DOCTYPE html>
<html class="no-js" lang="{{ meta.lang }}">
<head>
    {% include "meta.njk" %}
    <link href="https://fonts.googleapis.com/css2?family=Kufam:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}">
</head>
<body {% if meta.colors %}style="{{ meta.colors | themeColors }}"{% endif %}>
    <div data-icon-sprite hidden>{% iconsprite %}</div>

    <div class="layout h-resume" role="document">
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "sidebar.njk" %}
        {% include "footer.njk" %}
    </div>

    <!--! LAST BUILD: {{ build.env}} {{ build.timestamp | dateToISO }} -->
</body>
</html>